$maxWidth: 1200; //макс ширина контейнера
$minWidth: 375; //мин ширина контейнера
//color
$bg: #f9faff;
$silver-100: #f9faff;
$orange-900: #ff6838;
$silver-200: #ececec;
$gray: #c2c2c2;
$dark: #31352b;
$darkBlue-900: #363853;
// #fff2ed;
// #eeeff3