$maxWidth: 1200; //макс ширина контейнера
$minWidth: 375; //мин ширина контейнера
//media
$xl: 1130;
$lg: 962;
$md: 787;
$sm: 560;
$xsm: 420;
//color
$shadow: #0000001a;
$pink: #ffae94;
$pink-light: #f9eded;
$pink-opacity: #ff7a50b3;
$silver-100: #f9faff;
$silver-200: #ececec;
$orange-900: #ff6838;
$orange-extraLight: #fff2ed;
$orange-opacity-7: #ff6838b3;
$orange-opacity-02: #ff673833;
$orange-opacity-01: #ff7a521a;
$orange-opacity-00: #ff7a501a;
$gray: #c2c2c2;
$gray-dark: #505050;
$dark: #31352b;
$dark-opacity-5: #31362b80;
$darkBlue-900: #363853;
$darkBlue-opacity-01: #ffffffe3;
$blue-extraLight: #eeeff3;
$blue-extraLight-opacity: #f9faffd9;
//шрифты
$sans-serif: sans-serif;
$serif: serif;
//безопасные шрифты
$helvetica: 'Helvetica';
$arial: 'Arial';
$verdata: 'Verdana';
//шрифты по макету
$rubik: "Rubik";

@mixin container2($max-width, $padding) {
  max-width: #{$max-width}px;
  width: 100%;
  padding: 0 #{$padding}px;
  margin: 0 auto;
}

@mixin container($padding) {
  max-width: #{$maxWidth}px;
  width: 100%;
  padding: 0 #{$padding}px;
  margin: 0 auto;
}

@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin checkbox-hidden() {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@mixin radio-hidden() {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

//медиа
@mixin r($width) {
  @media (max-width: #{$width}px) {
    @content;
  }
}

@mixin xl() {
  @media (max-width: #{$xl}px) {
    @content;
  }
}

@mixin lg() {
  @media (max-width: #{$lg}px) {
    @content;
  }
}

@mixin md() {
  @media (max-width: #{$md}px) {
    @content;
  }
}

@mixin sm() {
  @media (max-width: #{$sm}px) {
    @content;
  }
}

@mixin xsm() {
  @media (max-width: #{$xsm}px) {
    @content;
  }
}

@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('../font/#{$url}.woff2') format('woff2'),
    url('../font/#{$url}.woff') format('woff');
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}

@mixin safe-font($font-family) {
  font-family: '#{$font-family}',
  $helvetica,
  $arial,
  $sans-serif;
}

@mixin font-media($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 962px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth}));
  }
}

@mixin line-height($font-size, $line-height-px) {
  line-height: calc($line-height-px / $font-size);
}

@mixin btn-bg-actions() {
  transition: color 0.3s, box-shadow 0.3s, background-color 0.3s ease-in-out;

  &:hover {
    color: $orange-900;
    background-color: $darkBlue-opacity-01;
    box-shadow: 0 5px 12px $orange-opacity-02, 0 0 0 2px $orange-opacity-7;
  }

  &:focus {
    color: $orange-900;
    background-color: $orange-opacity-01;
    box-shadow: 0 0 0 2px $orange-opacity-7;
  }

  &:active {
    color: $orange-900;
    background-color: $orange-opacity-00;
    box-shadow: 0 0 0 2px transparent;
  }
}

@mixin link-actions() {
  transition: color 0.3s, box-shadow 0.3s, text-shadow 0.3s ease-in-out;

  &:hover {
    color: $orange-900;
  }

  &:focus {
    box-shadow: 0 0 0 2px $orange-opacity-7;
  }

  &:active {
    color: $dark;
    box-shadow: 0 0 0 2px transparent;
    text-shadow: 2px 2px 5px $dark-opacity-5;
  }
}

@mixin link-line() {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: $darkBlue-900;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    &:after {
      opacity: 0;
    }
  }
}

@mixin logo-actions() {
  transition: opacity 0.3s, box-shadow 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px #ff6838b3;
  }

  &:active {
    box-shadow: 0 0 0 2px transparent;
    opacity: 0.5;
  }
}

@mixin nav-btn-actions() {
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out;

  &:hover {
    background-color: $orange-900;
  }

  &:focus {
    background-color: $orange-opacity-00;
    box-shadow: 0 0 0 2px inset $orange-opacity-7;
  }

  &:active {
    background-color: $orange-extraLight;
    box-shadow: 0 0 0 2px transparent;
  }
}

@mixin shadow($color) {
  box-shadow: inset 0 0 0 200vw $color;
}