//контейнер
@mixin container($padding) {
  max-width: #{$maxWidth}px;
  width: 100%;
  padding: 0 #{$padding}px;
  margin: 0 auto;
}

//применение
//.container {
//@include container(15)

@mixin container2($max-width, $padding) {
  max-width: #{$max-width}px;
  width: 100%;
  padding: 0 #{$padding}px;
  margin: 0 auto;
}

//применение
// .container {
//   @include container2(1200, 15);
// }


@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//применение
// @include sr-only();

//медиа
@mixin r($width) {
  @media (max-width: #{$width}px) {
    @content;
  }
}

//применение
// body {
//   font-size: 18px;
//   @include r(992) {
//     font-size: 15px;
//   }
// }

@mixin line-height($font-size, $line-height-px) {
  line-height: calc($line-height-px / $font-size);
}

//использование  миксина 
//@include line-height(10, 12);(font-size в рх, line-height рх

@mixin btn-bg-actions() {
  transition: color 0.3s,
    box-shadow 0.3s,
    background-color 0.3s ease-in-out;

  &:hover {
    color: $orange-900;
    background-color: $darkBlue-opacity-01;
    box-shadow: 0 5px 12px $orange-opacity-02,
      0 0 0 2px $orange-opacity-7;
  }

  &:focus {
    color: $orange-900;
    background-color: $orange-opacity-01;
    box-shadow: 0 0 0 2px $orange-opacity-7;
  }

  &:active {
    color: $orange-900;
    background-color: $orange-opacity-00;
    box-shadow: 0 0 0 2px transparent;
  }
}

@mixin link-actions() {
  transition: color 0.3s,
    box-shadow 0.3s,
    text-shadow 0.3s ease-in-out;

  &:hover {
    color: $orange-900;
  }

  &:focus {
    box-shadow: 0 0 0 2px $orange-opacity-7;
  }

  &:active {
    color: $dark;
    box-shadow: 0 0 0 2px transparent;
    text-shadow: 2px 2px 5px $dark-opacity-5;
  }
}

@mixin link-line() {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: $darkBlue-900;
    transition: background-color 0.3s ease-in-out;
  }
}

@mixin logo-actions() {
  transition: opacity 0.3s,
    box-shadow 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    box-shadow: 0 0 0 2px $orange-opacity-7;
  }

  &:active {
    box-shadow: 0 0 0 2px transparent;
    opacity: 0.5;
  }
}

@mixin nav-btn-actions() {
  transition: background-color 0.3s,
    box-shadow 0.3s ease-in-out;

  &:hover {
    background-color: $orange-900;
  }

  &:focus {
    background-color: $orange-opacity-00;
    box-shadow: 0 0 0 2px inset $orange-opacity-7;
  }

  &:active {
    background-color: $orange-extraLight;
    box-shadow: 0 0 0 2px transparent;
  }
}

@mixin shadow($color) {
  box-shadow: inset 0 0 0 200vw $color;
}