.apps {
  padding-bottom: 117px;

  &__inner {
    min-height: 385px;
    display: flex;
    align-items: center;

    background-repeat: no-repeat;
    background-position: center right;

    @include r(1130) {
      background-size: cover;
      box-shadow: inset 0 0 0 200vw #f9faffc4;
      justify-content: center;
    }

    @include r(480) {
      min-height: 195px;
      background-image: none;
    }
  }

  &__content {
    max-width: 540px;
  }

  &__title {
    text-align: left;
    margin-bottom: 45px;

    @include r(685) {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-bottom: 30px;
    @include font-media(20, 14);

    @include r(480) {
      margin-bottom: 15px;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    height: 40px;
    &:nth-child(1) {
      .apps__link {
        width: 120px;
        margin-right: 30px;
      }
    }

    &:nth-child(2) {
      .apps__link {
        width: 135px;
      }
    }
  }

  &__link {
    height: 40px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
  }
}