.discount {
  padding-bottom: 120px;

  @include r($lg) {
    padding-bottom: 90px;
  }

  @include r($md) {
    padding-bottom: 60px;
  }

  @include r($sm) {
    padding-bottom: 40px;
  }

  &__title {
    text-align: left;
    margin-bottom: 60px;

    @include r(1130) {
      text-align: center;
    }
    @include r($xsm) {
     margin-bottom: 36px;
    }
  }

  &__list {
    z-index: 0;
    // min-height: 400px;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    @include r(1130) {
      display: block;
      // margin-bottom: 45px;
      // text-align: center;
      // flex-direction: column;
    }
  }

  .slick-list {
    // display: flex;
    // padding-top: 2px;
    // padding-bottom: 2px;
    max-width: 1170px;
    width: 100%;
    // padding: 2px;
      @include r($xl) {
        text-align: center;
        margin-bottom: 45px;
      }
      @include r($xsm) {
        margin-bottom: 35px;
      }
  }

  .slick-slide {
    // max-width: 370px;
    // padding-top: 2px;
    padding: 4px;
    // padding-bottom: 2px;

    &:nth-child(1),
    &:nth-child(2) {
      // margin-right: auto;
      // margin-right: 45px;
      // padding-right: 26px;
    }
  }

  .slick-track {
    // min-width: 1170px;
    // margin: 0;
  }

  .slick-dots {
    max-width: 165px;
    height: 15px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    & li {
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(:last-child) {
        margin-right: 15px;
      }

      & button {
        font-size: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $gray;
        transition: background-color 0.3s, box-shadow 0.3s ease-in-out;

        &:hover {
          background-color: $orange-extraLight;
          box-shadow: 0 0 0 2px $pink-opacity;
        }

        &:focus {
          background-color: $gray;
          box-shadow: 0 0 0 2px $orange-900;
        }

        &:active {
          background-color: $pink;
          box-shadow: none;
        }
      }
    }

    .slick-active {
      & button {
        background-color: $orange-900;
      }
    }
  }

  &__item {
    max-width: 370px;
    // width: 100%;
    min-height: 392px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #0000001a;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;

    &:not(:last-child) {
      // margin-right: 30px;
    }

    @include r(1130) {
      // margin: 0 auto;
    }

    &:hover {
      box-shadow: 0 3px 15px $orange-opacity-7;
    }
  }

  &__img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }

  &__description {
    max-width: 370px;
    padding: 15px 20px;
    font-size: 24px;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include r(1130) {
      text-align: start;
    }
  }
}