@import "../../node_modules/rateyo/src/jquery.rateyo";
@import "../../node_modules/jquery-form-styler/dist/jquery.formstyler";
// @import '../../node_modules/vshowbox/dist/vshowbox';
// @import '../../node_modules/slideshow-popup-modal/dist/modal';
// @import '../../node_modules/jquery-form-styler/dist/jquery.formstyler.theme';

//слайдер
.product {
  &__item {
    max-width: 610px;
    width: 100%;
    min-height: 550px;
    background-color: #fff;
    box-shadow: 0 0 0 1px $silver-100;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:before,
    &::after {
      position: absolute;
      content: '';
      width: 18.7px;
      height: 31.55px;
    }

    &::before {
      left: 46px;
      background-image: url(../img/svg/icon-arrow-left.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::after {
      right: 46px;
      background-image: url(../img/svg/icon-arrow-right.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    @include r($xl) {
      margin-bottom: 30px;
    }

    @include r($md) {
      max-width: 345px;
      min-height: 345px;
    }

    @include r($md) {

      &:before,
      &:after {
        height: 17px;
      }

      &:before {
        left: 15px;
      }

      &:after {
        right: 15px;
      }
    }
  }

  &__item-img {
    object-fit: contain;
    cursor: pointer;

    @include r($md) {
      width: 300px;
      height: 300px;

      &:before,
      &:after {
        height: 17px;
      }

      &:before {
        left: 20px;
      }
    }
  }
}

.product {
  &__tabs {
    box-shadow: 0 -1px 0 0 $gray;
  }

  &__inner {
    padding: 60px 0 58px;
    display: flex;

    @include r($xl) {
      flex-direction: column;
      align-items: center;
    }

    @include r($xsm) {
      padding: 30px 0;
    }
  }

  &__info {
    padding-left: 30px;

    @include r($xl) {
      padding-left: 0;
    }
  }

  &__title {
    text-align: left;
    margin-bottom: 30px;

    @include r($xsm) {
      margin-bottom: 15px;
    }
  }

  &__star {
    padding-left: 0;
    z-index: -1;
    margin-bottom: 23px;

    @include r($xsm) {
      margin-bottom: 15px;
    }
  }

  &__prise {
    display: block;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.4;
    color: $darkBlue-900;
    margin-bottom: 20px;
  }

  &__order-box {
    display: flex;
    margin-bottom: 30px;

    @include r($sm) {
      flex-direction: column;
    }
  }

  &__order-num {
    max-width: 158px;
    margin-right: 20px;

    @include r($sm) {
      margin-bottom: 15px;
    }
  }

  .jq-number {
    position: relative;
    padding: 0 44px;
  }

  .jq-number__field input {
    text-align: center;
    padding: 9px 6px;
    background-color: #faeded;
    font: inherit;
    border: 1px solid #faeded;
    transition: all 0.3s ease-in-out;

    &:focus {
      border: 1px solid $orange-900;
    }
  }

  .jq-file__name,
  .jq-number__field input {
    box-sizing: border-box;
    width: 100%;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $darkBlue-900;
  }

  .jq-number__field {
    width: 70px;
    height: 44px;
  }

  .jq-number__spin {
    position: absolute;
    top: 0;
    background-color: $orange-900;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      background-color: #63a60e;
    }
  }

  .jq-number__spin.minus {
    left: 0;
    width: 44px;
    height: 44px;
    border-radius: 3px 0 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 1.64px;
      background-color: #fff;
    }
  }

  .jq-number__spin.plus {
    right: 0;
    width: 44px;
    height: 44px;
    border-radius: 0 3px 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-image: url(../img/svg/plus.svg);
    }
  }

  &__order-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    white-space: nowrap;
    padding: 13px 38px;
    stroke: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include r($sm) {
      margin-right: auto;
    }

    &:hover {
      stroke: $orange-900;
    }

    &:focus {
      stroke: $orange-900;
    }
  }

  &__order-icon {
    transition: all 0.3s ease-in-out;
  }

  &__shipping {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    color: $gray-dark;
    letter-spacing: 0.02em;
    margin-bottom: 19px;

    @include r($xsm) {
      margin-bottom: 16px;
    }
  }

  &__shipping-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $darkBlue-900;
    padding-bottom: 15px;
    box-shadow: 0 1px 0 0 $silver-200;
    margin-bottom: 20px;
    @include font-media(24, 18);

    @include r($xsm) {
      padding-bottom: 13px;
      margin-bottom: 15px;
    }
  }

  &__ref {
    color: $darkBlue-900;
    border-radius: 5px;
    @include link-line();
    @include link-actions();
  }
}