.interes-food {
  padding-bottom: 120px;

  @include r(962) {
    padding-bottom: 90px;
  }

  @include r(787) {
    padding-bottom: 60px;
  }

  @include r(560) {
    padding-bottom: 40px;
  }

  &__title {
    text-align: left;
    display: inline-block;
  }

  &__slider {
    padding-top: 100px;
  }
  &__item {
    max-width: 210px;
    margin-right: 30px;
  }

  &__card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px #ECECEC;
  }

  &__link {}

  &__img {
    margin: 0 auto;
  }

  &__alt {}

  &__price {}

  &__price-currency {}

  &__button {}

  .slick-arrow {
    width: 34px;
    height: 34px;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
    top: -34px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-arrow__prev {
    right: 59px;
  }

  .slick-arrow__next {
    transform: rotate(-180deg);
  }

  .slick-arrow__icon {
  }
}
.interes-food {

  &__title {}

  &__slider {}

  &__card {}

  &__link {}

  &__img {}

  &__alt {}

  &__price {}

  &__price-currency {}

  &__button {}

}

