.footer {

  &__top {
    display: grid;
    grid-template-columns: 200px 153px 89px 187px 261px;
    justify-content: space-between;
    padding-bottom: 57px;

    @include r(1130) {
      grid-template-columns: repeat(3, 200px);
      grid-gap: 30px;
      justify-content: space-around;
      grid-template-areas:
        "form address address"
        "list-one list-two list-three";
    }

    @include r(685) {
      grid-template-columns: repeat(2, 200px);
      grid-template-areas:
        "form address"
        "list-one list-two"
        "list-three list-three";
      padding-bottom: 30px;
    }

    @include r(480) {
      grid-template-columns: repeat(1, 200px);
      grid-template-areas:
        "form"
        "address"
        "list-one"
        "list-two"
        "list-three";
      grid-gap: 0;
    }

    @include r(375) {
      justify-content: flex-start;
    }
  }

  &__inner {
    max-width: 200px;

    @include r(1130) {
      grid-area: form;
    }

    @include r(685) {
      margin-bottom: 30px;
    }
  }

  &__logo {
    @include r(400) {
      width: 200px;
      height: 39px;
    }
  }

  &__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    @include r(400) {
      margin-top: 25px;
    }
  }

  &__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: $darkBlue;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px $gray;
    padding: 13px 5px 13px 15px;
    margin-bottom: 12px;
    transition: color 0.3s,
      box-shadow 0.3s ease-in-out;

    &::placeholder {
      color: $gray;
      transition: color 0.3s ease-in-out;
    }

    &:hover {
      &::placeholder {
        color: $darkBlue;
      }
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px $orange;
    }

    &:active {
      &::placeholder {
        color: $gray;
      }
    }
  }

  &__button {
    padding: 13px 0;
    font-size: 14px;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      & .footer__icon {
        fill: $orange;
      }
    }

    &:focus {
      & .footer__icon {
        fill: $orange;
      }
    }
  }

  &__icon {
    width: 16.51px;
    height: 15.6px;
    fill: #fff;
    margin-right: 15px;
    transition: fill 0.3s ease-in-out;
  }

  &__list-one {
    @include r(1130) {
      grid-area: list-one;
    }
  }


  &__list-two {
    @include r(1130) {
      grid-area: list-two;
    }
  }

  &__list-three {
    @include r(1130) {
      grid-area: list-three;
    }
  }


  &__item {
    margin-bottom: 25px;
  }

  &__link {
    white-space: nowrap;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.01em;
    display: flex;
    align-items: center;

  }

  &__copy {
    border-top: 1px solid #c2c2c27e;
    padding: 30px 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;

    @include r(375) {
      padding: 21px 0;
    }
  }
}

.address {
  font-style: normal;

  @include r(1130) {
    grid-area: address;
  }

  @include r(685) {
    margin-bottom: 30px;
  }

  &__list {}

  &__item {
    margin-bottom: 15px;

    @include r(400) {
      margin-bottom: 16px;
    }
  }

  &__link {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;

    &:hover {
      .address__icon {
        stroke: $orange;
      }
    }

    &:active {
      .address__icon {
        filter: drop-shadow(2px 2px 5px #31352b80);
      }
    }

  }

  &__icon {
    width: 24px;
    height: 24px;
    stroke: $dark;
    margin-right: 7px;
    transition: stroke 0.3s ease-in-out;

  }
}

.social {

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 13px;
    }

    &:nth-child(1) {
      .social__icon {
        width: 9.98px;
        height: 20.53px;
      }
    }

    &:nth-child(2) {
      .social__icon {
        width: 20.53px;
        height: 16.68px;
      }
    }

    &:nth-child(3) {
      .social__icon {
        width: 19.5px;
        height: 19.5px;
      }
    }
  }

  &__link {
    width: 39px;
    height: 39px;
    background-color: $silver;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s,
      box-shadow 0.3s ease-in-out;

    &:hover {
      background-color: $orange;

      .social__icon {
        fill: #fff;
      }
    }

    &:focus {
      background-color: #fff2ed;
      box-shadow: 0px 0px 0px 2px #ff6838b3;

      .social__icon {
        fill: $dark;
      }
    }

    &:active {
      background-color: #fff2ed;
      box-shadow: 0px 0px 0px 2px transparent;

      .social__icon {
        fill: $orange;
      }
    }
  }

  &__icon {
    fill: $dark;
    transition: fill 0.3s ease-in-out;
  }
}