.product {
  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    backdrop-filter: blur(40px);
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.329);
    transition: all 0.3s ease-in-out;
    display: none;
  }

  &__modal-inner {
    max-width: 1782px;
    width: 100%;
    padding: 60px 60px 87px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px #ececec;
    border-radius: 5px;
    position: relative;

    @include r($xl) {
      max-width: 962px;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 60px;
    }

    @include r($lg) {
      max-width: 787px;
    }

    @include r($md) {
      max-width: 560px;
      padding-top: 80px;

    }

    @include r($sm) {
      max-width: 420px;
    }

    @include r($xsm) {
      max-width: 345px;
    }
  }

  &__modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 60px;
    height: 60px;
    fill: #00000026;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;

    @include r($xsm) {
      top: 15px;
    }

    &:hover {
      background-color: #c1c1c14d;
    }

    &:active {
      background-color: #c1c1c14d;
    }
  }

  &__modal-list {
    display: flex;
    padding-bottom: 75px;

    // align-items: center;
    // justify-content: center;
    @include r($xl) {
      padding-bottom: 30px;
    }

    .slick-list {
      // display: flex;
      // z-index: 0;
    }

    .slick-slide {
      padding: 2px;
    }

    .slick-dots {
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
      display: flex;

      & li {
        display: flex;
        justify-content: center;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }

      & button {
        width: 15px;
        height: 15px;
        font-size: 0;
        border-radius: 50%;
        background-color: $silver-200;
      }

      .slick-active {
        & button {
          background-color: $orange-900;
        }
      }
    }
  }

  &__modal-arrow-prev {
    z-index: 1;
  }

  &__modal-arrow-next {
    right: 0;
  }

  &__modal-item {}

  &__modal-img {
    max-width: 750px;
    min-height: 750px;
    object-fit: cover;
    object-position: center;
    margin: auto auto;

    @include r($xl) {
      max-width: 600px;
      min-height: 600px;
    }

    @include r($lg) {
      max-width: 450px;
      min-height: 450px;
    }

    @include r($md) {
      max-width: 400px;
      min-height: 300px;
    }

    @include r($xsm) {
      max-width: 300px;
      min-height: 300px;
    }
  }

  &__modal-arrow {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    border-radius: 3px;
    transform: translateY(-50%);
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #c1c1c14d;
    }

    &:active {
      background-color: #c1c1c14d;
    }
  }

  &__modal-arrow-icon {
    width: 20px;
    height: 20px;
  }

  &__modal--active {
    display: flex;
    transition: all 0.3s ease-in-out;
  }
}

body.modal__lock {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}