

::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar {
  // width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $orange-900;
  border-radius: 5px;
}

.container {
  @include container(15);
}

.sr-only {
  @include sr-only();
}

body {
  @include safe-font("Rubik");
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: $dark;
  background-color: $silver-100;
  @include font-media(20, 16);
}

.logo {
  display: inline-block;
  border-radius: 5px;
  @include logo-actions();

  &__img {
    width: 200px;
    height: 39px;
  }
}

.link {
  border-radius: 5px;
  @include link-actions();

  &--active {
    color: $orange-900;
  }
}

.title {
  font-weight: 500;
  line-height: 1.3;
  font-size: 36px;
  text-align: center;
  color: $darkBlue-900;
  @include font-media(36, 24);

  &--span {
    display: block;
    text-align: left;
  }
}

.btn-bg {
  padding: 0;
  line-height: 1;
  color: #fff;
  border-radius: 5px;
  background-color: $orange-900;
  @include btn-bg-actions();
}

.lock {
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;

  .hero__link {
    z-index: -1;
  }

  .filter-select {
    z-index: -1;
  }

  .filter-number {
    z-index: -1;
  }
  .product__slide {
    z-index: -1;
  }
  .product__order-box {
    position: relative;
    z-index: -1;
  }
}

.card {
  width: 100%;
  min-height: 299px;
  padding: 20px 9px 22px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px $silver-200;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 2px 1px $orange-900;
  }

  &__link {
    flex-grow: 1;
    margin-bottom: 10px;
  }

  &__img {
    margin: 0 auto;
    object-fit: contain;
    margin-bottom: 10px;
  }

  &__alt {
    padding: 0;
    word-spacing: 1px;
    font-weight: 400;
    font-size: 15px;
    @include line-height(15, 18);
  }

  &__price {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  &__btn {
    margin: 0 auto;
    padding: 6px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
  }
}

.popular,
.restaurant,
.apps {
  padding: 120px 0;

  @include r($lg) {
    padding: 90px 0;
  }

  @include r($md) {
    padding: 60px 0;
  }

  @include r($sm) {
    padding: 40px 0;
  }
}