body.breadcrumbs-fixed .breadcrumbs {
  z-index: 1;
  margin-top: 44px;
}

body.lock.breadcrumbs-fixed .breadcrumbs {
  z-index: 0;
}

.breadcrumbs {
  position: fixed;
  width: 100%;
  margin-top: 157px;
  background-color: $pink-light;
  transition: all 0.3s;

  &__list {
    padding: 24px 0;
    display: flex;
    align-items: center;
  }

  &__item {
    padding-right: 15px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      background-image: url(../img/svg/stack/sprite.svg#icon-chevron);
      background-repeat: no-repeat;
      background-position: right;
      background-size: 10px;
      margin-right: 6px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #505050;
  }
}