.breadcrumbs {
  margin-top: 157px;
  background-color: $pink-light;

  @include r(560) {
    margin-top: 72px;
  }

  &__list {
    padding: 26px 0;
    display: flex;
  }

  &__item {
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      background-image: url(../img/svg/stack/sprite.svg#icon-chevron);
      background-repeat: no-repeat;
      background-position: right;
      background-size: 10px;
      margin-right: 6px;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: $gray-dark;
  }
}