.header {
  padding: 57px 0;

  @include r(785) {
    padding: 14px 0;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__inner {
    display: flex;
    align-items: center;
  }
}

.menu {
  width: 301px;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;

  @include r(785) {
    display: none;
  }
  
  // &__item {}

  &__link {
    font-size: 18px;
    &--active {
      color: $orange;
    }
  }
}

.buttons {
  display: flex;

  &__item {
    &:nth-child(1) {
      margin-right: 10px;
    }
  }

  &__btn {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 0.3s,
      box-shadow 0.3s ease-in-out;

    &:hover {
      background-color: $orange;

      .buttons__icon {
        stroke: #fff;
      }

      .buttons__count {
        background-color: #fff;
        color: $orange;
      }
    }

    &:focus {
      background-color: #ff7a501a;
      box-shadow: 0px 0px 0px 2px #ff6838b3;

      .buttons__icon {
        stroke: $darkBlue;
      }

      .buttons__count {
        background-color: $orange;
        color: #fff;
      }
    }

    &:active {
      box-shadow: 0px 0px 0px 2px #ff673800;
      background-color: #fff2ed;

      .buttons__icon {
        stroke: $darkBlue;
      }
    }
  }

  &__icon {
    stroke: $darkBlue;
    transition: stroke 0.3s ease-in-out;
  }

  &__count {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
    background-color: $orange;
    top: 7px;
    right: 3px;
    transition: color 0.3s, background-color 0.3s ease-in-out;
  }
}

.burger {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  margin-left: 10px;
  transition: background-color 0.3s,
    box-shadow 0.3s ease-in-out;
  display: none;

  @include r(785) {
    display: initial;
  }

  &:hover {
    background-color: $orange;

    .burger__line {
      background-color: #fff;
    }

    .burger__line::before,
    .burger__line::after {
      background-color: #fff;
    }
  }

  &:focus {
    background-color: #ff7a501a;
    box-shadow: 0px 0px 0px 2px #ff6838b3;

    .burger__line {
      background-color: $darkBlue;
    }

    .burger__line::before,
    .burger__line::after {
      background-color: $darkBlue;
    }
  }

  &:active {
    box-shadow: 0px 0px 0px 2px #ff673800;
    background-color: #fff2ed;
  }

  &__line {
    width: 30px;
    height: 2px;
    background-color: $darkBlue;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease-in-out;

    &::before {
      position: absolute;
      content: '';
      width: 30px;
      height: 2px;
      background-color: $darkBlue;
      top: -10px;
      left: 0;
      transition: background-color 0.3s ease-in-out;
    }

    &::after {
      position: absolute;
      content: '';
      width: 30px;
      height: 2px;
      background-color: $darkBlue;
      top: 10px;
      left: 0;
      transition: background-color 0.3s ease-in-out;
    }
  }
}