@import "../../node_modules/ion-rangeslider/css/ion.rangeSlider";

.catalog {
  &__top {
    padding: 58px 0;
    display: flex;
    justify-content: space-between;

    @include r($md) {
      display: block;
      padding: 38px 0;
    }

    @include r($xsm) {
      padding-bottom: 30px;
    }
  }

  &__title {
    @include r($md) {
      margin-bottom: 20px;
    }

    @include r($xsm) {
      text-align: left;
      margin-bottom: 20px;
    }
  }

  &__nav {
    display: flex;
  }

  &__filter-btn {
    width: 47px;
    height: 47px;
    border-radius: 3px;
    background-color: $pink-light;
    fill: $orange-900;
    border-radius: 3px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    display: none;
    transition: background-color 0.3s, fill 0.3s ease-in-out;

    &:hover {
      background-color: $orange-900;
      fill: #fff;
    }

    &:focus {
      fill: $darkBlue-900;
      background-color: $orange-opacity-00;
      box-shadow: 0px 0px 0px 2px $orange-opacity-7;
    }

    &:active {
      background-color: $orange-extraLight;
    }

    @include r($xl) {
      display: inline-flex;
    }
  }

  &__filters {
    margin-right: 30px;

    @include r($xl) {
      margin-right: 0;
    }
  }

  &__inner {
    display: flex;

    @include r($xl) {
      justify-content: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.filter {
  transition: transform 0.3s, box-shadow 0.3s ease-in-out;

  @include r($xl) {
    position: absolute;
    top: 0;
    left: 0;
    padding: 80px 0;
    width: 320px;
    background-color: #fff;
    transform: translateX(-100%);
  }

  &.filter--active {
    transform: translateX(0%);
    box-shadow: 0 0 0 445vw $shadow;
    z-index: 1;
  }


  &__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $pink-light;
    border-radius: 3px;
    margin-bottom: 20px;
    top: 20px;
    right: 20px;
    justify-content: center;
    align-items: center;
    display: none;

    @include r($xl) {
      display: inline-flex;
    }
  }

  &__item {
    max-width: 271px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px $silver-200;
    font-size: 18px;
    line-height: 1.2;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $darkBlue-900;
    padding: 15px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 0 0 $silver-200;
    padding-right: 15px;
  }

  &__list {
    padding: 25px 15px;
  }

  &__form {
    padding: 25px 15px;
  }
}


.filter-select {
  background-color: #fff;
  box-shadow: 0 0 0 1px $gray;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;

  @include r($xsm) {
    margin-right: 11px;
  }

  &:hover {
    box-shadow: 0 0 0 1px $orange-900;

    &:before {
      filter: invert(54%) sepia(30%) saturate(5394%) hue-rotate(337deg) brightness(103%) contrast(101%);
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(../img/svg/stack/sprite.svg#icon-down);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: invert(99%) sepia(0%) saturate(29%) hue-rotate(164deg) brightness(87%) contrast(74%);
    top: 20px;
    right: 18px;
    transition: transform 0.3s, filter 0.3s ease-in-out;
  }

  &--active {
    &::before {
      transform: rotateX(-180deg);
    }

    & .filter-select__box {
      display: block;
      animation: fadeInUp 500ms;
    }
  }

  &__placeholder {
    width: 147px;
    display: block;
    font-size: 14px;
    line-height: 1.2;
    padding: 15px;
    padding-right: 41px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include link-actions();

    @include r($xsm) {
      max-width: 139px;
      padding-left: 11px;
      padding-right: 11px;
    }

    &:before {
      position: absolute;
      top: 15px;
      left: 15px;
      content: attr(data-placeholder);
      visibility: hidden;
    }
  }

  &__box {
    border-radius: 3px;
    box-shadow: 0 0 0 1px $gray;
    position: absolute;
    top: 50px;
    left: 0px;
    display: none;
    list-style-type: none;
    font-size: 14px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 0 1px $orange-900;
    }
  }

  &__options {
    display: list-item;
    padding: 6px 15px;
    transition: all 0.3s;
    @include link-actions();

    &:after {
      margin-left: 5px;
      display: none;
    }

    &.selected {
      &::after {
        display: inline;
        content: "*";
      }
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}

.filter-number {
  background-color: #fff;
  box-shadow: 0 0 0 1px $gray;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 0 1px $orange-900;

    &:before {
      filter: invert(54%) sepia(30%) saturate(5394%) hue-rotate(337deg) brightness(103%) contrast(101%);
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(../img/svg/stack/sprite.svg#icon-down);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: invert(99%) sepia(0%) saturate(29%) hue-rotate(164deg) brightness(87%) contrast(74%);
    top: 20px;
    right: 18px;
    transition: transform 0.3s, filter 0.3s ease-in-out;
  }

  &--active {
    &::before {
      transform: rotateX(-180deg);
    }

    & .filter-number__box {
      width: 92px;
      display: block;
      animation: fadeInUp 500ms;
    }

    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
      }

      to {
        opacity: 1;
        transform: none;
      }
    }

    @keyframes fadeOut {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
      }
    }
  }

  &__placeholder {
    width: 92px;
    display: block;
    font-size: 14px;
    line-height: 1.2;
    padding: 15px;
    padding-right: 41px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include link-actions();

    @include r($xsm) {
      width: 82px;
      padding-left: 11px;
      padding-right: 35px;
    }

    &:before {
      position: absolute;
      top: 15px;
      left: 15px;
      content: attr(data-placeholder);
      visibility: hidden;
    }
  }

  &__box {
    border-radius: 3px;
    box-shadow: 0 0 0 1px $gray;
    position: absolute;
    top: 50px;
    left: 0px;
    display: none;
    list-style-type: none;
    font-size: 14px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 0 1px $orange-900;
    }
  }

  &__options {
    display: list-item;
    padding: 6px 15px;
    transition: all 0.3s;
    @include link-actions();

    &:after {
      margin-left: 5px;
      display: none;
    }

    &.selected {
      &::after {
        display: inline;
        content: "*";
      }
    }
  }
}

.filter-category {
  &__title {
    cursor: pointer;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}

.filter-offer {
  &__form {
    padding-bottom: 12px;
  }

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $orange-900;

      & .filter-offer__checkbox {
        box-shadow: 0 0 0 1px $orange-900;
      }
    }

    &:focus {
      color: $dark;
    }
  }

  &__input {
    @include checkbox-hidden();

    &:checked+.filter-offer__checkbox {
      background-image: url(../img/svg/icon-checked.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px 8.39px;
      box-shadow: 0 0 0 1px $darkBlue-900;
    }
  }

  &__checkbox {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: $pink-light;
    box-shadow: 0 0 0 1px $silver-200;
    border-radius: 3px;
    transition: box-shadow 0.3s ease-in-out;
  }

  &__text {
    padding-left: 24px + 12px;
  }
}

.filter-price {
  &__control {
    display: flex;
  }

  &__label {
    display: flex;

    &:nth-child(1) {
      margin-right: 22px;
    }
  }

  &__currency,
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    color: $gray;
  }

  .filter-price__input-to,
  .filter-price__input-from {
    background-color: $pink-light;
    box-shadow: 0 0 0 1px $pink-light;
    border-radius: 3px;
    width: 70px;
    font-size: 16px;
    line-height: 1;
    padding: 9px 0 9px 5px;
    text-align: center;
    margin: 0 5px;
    transition: box-shadow 0.3s ease-in-out;

    &:focus {
      box-shadow: 0 0 0 1px $orange-900;
    }
  }

  &__to-label {
    display: flex;
  }

  .irs-from,
  .irs-to,
  .irs-min,
  .irs-max {
    display: none;
  }

  .irs-bar {
    background-color: $orange-900;
  }

  .irs--round .irs-handle {
    width: 18px;
    height: 18px;
    border: 0;
    top: 28px;
    background-color: $orange-900;
    z-index: 0;
  }

  .irs .irs--round .js-irs-0 {
    height: 18px;
  }
}

.catalog-food {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 13px;
  margin-bottom: 60px;

  @include r($lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include r($md) {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    margin-bottom: 30px;
  }

  &__item {
    @include r($xsm) {
      &:nth-child(n+7) {
        display: none;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;

  &__item {
    border-radius: 3px;

    &:not(:last-child) {
      margin-right: 6px;
    }

    @include r($sm) {

      &:nth-child(3),
      &:nth-child(5) {
        display: none;
      }
    }

    &--active {
      box-shadow: 0 0 0 1px $darkBlue-900;
      transition: box-shadow 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 0 0 1px $orange-900;
      }
    }
  }

  &__link {
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    border-radius: 3px;
    background-color: $pink-light;
    transition: fill 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s ease-in-out;

    &:hover {
      color: #fff;
      background-color: $orange-900;
      fill: #fff;
    }

    &:focus {
      color: $darkBlue-900;
      background-color: $pink-light;
      box-shadow: 0 0 0 1px $orange-900;
      fill: $darkBlue-900;
    }

    &:active {
      box-shadow: inset 0 -1px 4px 2px #00000026;
    }
  }

  &__link--prev {
    fill: $gray;
  }

  &__link--next {
    fill: $darkBlue-900;
  }
}