.hero {
  padding-top: 159px;

  @include r(785){
    padding-top: 90px;
  }
  @include r(480){
    padding-top: 73px;
  }
  &__inner {
    background-image: url(../img/decore/scooter-guy.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    height: 660px;
    position: relative;

    @include r(970) {
      background-position: center;
      height: 500px;
      box-shadow: inset 0 0 0 200vw #f9faffd9;
    }

    @include r(685) {
      height: 400px;
    }

    @include r(480) {
      height: 300px;
      background-size: contain;
    }
  }

  &__content {
    max-width: 450px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @include r(970) {
      margin: auto;
      left: 0;
      right: 0;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__title-span {
    display: block;
    color: $orange;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__button {
    font-size: 18px;
    margin-right: 34px;
    padding: 13px 32px;

    @include r(480) {
      font-size: 14px;
      padding: 10px 26px;
      margin-right: 29px;
    }

    &:hover {
      background-color: #fff;
    }
  }
}