.hero {
  padding-top: 160px;

  @include r($md) {
    padding-top: 140px;
  }

  @include r($sm) {
    padding-top: 72px;
  }

  &__inner {
    min-height: 660px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    align-items: center;

    @include r($lg) {
      min-height: 300px;
    }

    @include r($md) {
      box-shadow: inset 0 0 0 200vw $blue-extraLight-opacity;
    }
  }

  &__title {
    font-size: 66px;
    font-weight: 500;
    line-height: 1.3;
    color: $darkBlue-900;
    text-transform: uppercase;
    @include font-media(66, 40);
    margin-bottom: 20px;
  }

  &__title-span {
    display: block;
    color: $orange-900;
  }

  &__text {
    max-width: 450px;
    margin-bottom: 20px;

    @include r($md) {
      max-width: 345px;
    }

  }

  &__button {
    padding: 12px 31px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    margin-right: 30px;

    @include r($xsm) {
      font-size: 14px;
      padding: 8px 24px;
      margin-right: 26px;
    }
  }

  &__link {
    color: $darkBlue-900;
    @include link-line();

    &:hover {
      &:after {
        background-color: transparent;
      }
    }

    &:active {
      color: $darkBlue-900;
    }
  }
}