.delivery {

  &__inner {
    max-width: 1030px;
    background-image: url(../img/decore/food-delivery.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    margin: 0 auto;
    display: flex;
    justify-content: end;

    @include r(970) {
      box-shadow: inset 0 0 0 200vw #f9faffd9;
    }

    @include r(576) {}

    @include r(375) {
      //  background-size: contain;
    }
  }

  &__content {
    padding-top: 59px;
    max-width: 454px;
    margin-right: 15px;
    @include r(375){
      padding-top: 0;
    }
  }

  &__title {
    text-align-last: left;
    margin-bottom: 30px;
  }

  &__text {
    word-spacing: -1px;
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 30px;

    @include r(375) {
      margin-bottom: 20px;
    }

  }

  &__item {
    font-size: 24px;
    color: $darkBlue;
    padding-left: 66px;
    @include font-media(24, 18);
    &:nth-child(1){
      background-image: url(../img/svg/icon-time.svg);
      background-repeat: no-repeat;
    }
    &:nth-child(2){
      background-image: url(../img/svg/icon-delivery.svg);
      background-repeat: no-repeat;
    }
    &:nth-child(3){
      background-image: url(../img/svg/icon-resturent.svg);
      background-repeat: no-repeat;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include r(375) {
        margin-bottom: 15px;
      }
    }
  }

  &__button {
    font-size: 18px;
    line-height: 1.3;
    padding: 12px 32px;
    margin-bottom: 55px;
  }
}