$bg: #fff;
$wite: #fff;
$lite: #FFF2ED;
$grey: #C2C2C2;
$grey-e: #ECECEC;
$grey-light: #F9FAFF;
$text: #31352B;
$stroke: #363853;
$link: #FF6838;
$coral: #FF7A50;
$bg-focus: #ffffff03;
$bs-focus: #ff6838b3;
$text-shadow-active: #31352b80;
$bg-btn-focus: #ff7a501a;

